<h3>Agendas</h3>
<p class="text-muted">
	Pick a file for an agenda, and a file for minutes.. Then click add.
</p>
<div class="form-group">
	<div class="col-sm-1">
		<button id="new_agenda" type="button" class="btn btn-primary">Add</button>
	</div>
	<div class="col-sm-1">
		<label for="new_agenda_date">Date: </label>
	</div>
	<div class="col-sm-2">
		<input type="date" name="new_agenda_date" id="new_agenda_date" class="form-control"/>
	</div>
	<div class="col-sm-1">
		<button type="button" class="agenda_upload_button btn btn-success">Agenda file</button>
		<input type="hidden" name="new_agenda_file_id" id="new_agenda_file_id"/>
	</div>
	<div class="col-sm-2">
		<input style="display:none" type="text" name="new_agenda_file_name" id="new_agenda_file_name" class="form-control"/>
	</div>
	<div class="col-sm-1">
		<button type="button" class="agenda_upload_button btn btn-success">Minutes file</button>
		<input type="hidden" name="new_minutes_file_id" id="new_minutes_file_id"/>
	</div>
	<div class="col-sm-2">
		<input style="display:none" type="text" name="new_minutes_file_name" id="new_minutes_file_name" class="form-control"/>
	</div>
</div>
{{#result}}
<table class="table ">
		<tr>
			<td>
				<button type="button" class="delete_agenda btn btn-danger">Delete</button>
				<input type="hidden" name="agenda_id" value="{{ agenda_id }}" class="form-control" disabled/>
			</td>
			<td>
				<label for="agenda-date-{{display_date}}">Date: </label>
				<input type="date" name="agenda_id_date" value="{{ display_date }}" id="agenda-date-{{display_date}}" class="form-control" disabled/>
			</td>
			<td>
				<label for="agenda-{{agenda_file}}">Agenda	File: </label>
				<input type="text" value="{{ agenda_file }}" id="agenda-{{agenda_file}}" class="form-control" disabled/>
			</td>
			<td>
				<label for="minutes-{{minutes_file}}">Minutes	File: </label>
				<input type="text" value="{{ minutes_file }}" id="minutes-{{minutes_file}}" class="form-control" disabled/>
			</td>
		</tr>
</table>
{{/result}}
